<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Películas</title>
    <script src="https://kit.fontawesome.com/237ab99f03.js" crossorigin="anonymous"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House" />
    </figure>

<!--     <a class="botonVolver" href="/">inicio</a> -->

    <div class="card">
      <div class="card-header d-flex justify-content-between">
          <nav aria-label ="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
              </ol>
          </nav>
          <a class="btn btn-sm btn-outline-dark" href="/movies/add"><i class="fa-solid fa-plus fa"></i>   Agregar una Pelicula</a>

      </div>
      <div class="card-body">
    <table table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Título</th>
          <th scope="col">Rating</th>
          <th scope="col">Premios</th>
          <th scope="col">Género</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% movies.forEach((movie)=> { %>
        <tr>
          <th scope="row"><%= movie.id %></th>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.awards %></td>
          <td><%= movie.genre ? movie.genre.name : "Sin género" %></td>
          <td>
            <div class="d-flex gap-2">
                <a href='/movies/detail/<%= movie.id %>'    class="btn btn-sm btn-outline-dark">
                <i class="fas fa-eye"></i>
                </a>

              <%- include('partials/modalMovieDetail',{...movie.dataValues})%>

              <a href='/movies/edit/<%= movie.id %>'    
                class="btn btn-sm btn-outline-primary">
                <i class="fas fa-edit"></i>
              </a>

              <button   
                type="button" 
                class="btn btn-sm btn-outline-danger"
                data-bs-toggle="modal"
                data-bs-target="#modalDelete<%=movie.id%>"
              >
                <i class="fas fa-trash"></i>
              </button>

              <div
                class="modal fade"
                id="modalDelete<%=movie.id%>"
                tabindex="-1"
                aria-labelledby="modalDeleteLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalDeleteLabel">
                        Advertencia
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <p>
                        ¿Estás seguro que querés eliminar la película
                        <b> <%= movie.title %> </b>?
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancelar
                      </button>
                      <form
                        action="/movies/delete/<%=movie.id%>?_method=DELETE"
                        method="POST"
                      >
                        <button type="submit" class="btn btn-danger">
                          Eliminar
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% }) %>
      </tbody>
    </table>
      </div>
      </div>
  </body>
</html>
